# Build outputs
build/
gui/tqt/build/
*.o
*.a
*.so

# Packages & installers
*.deb
*.qsi
*.AppImage
qsi_setup/deb_packages/*.deb
!qsi_setup/deb_packages/.gitkeep
qsi_setup/output/*.qsi
!qsi_setup/output/.gitkeep
qsi_setup/qinstaller

# Temporary files
.directory
.DS_Store
*.swp
*~
.cache/
.vscode/
